<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <h2>Result</h2>
      <p><%= @response  %></p>
      <p><%= link_to "Play Again", new_path  %></p>
    </div>
  </div>
</body>
</html>
